#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/mouse_settings.h>

#include "includes/mouse_keys.dtsi"

/ {
  macros {
    bt_sel_0: bt_profile_macro_0 {
      label = "BT_SEL_0";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>
        , <&bt BT_SEL 0>
        ;
    };

    bt_sel_1: bt_profile_macro_1 {
      label = "BT_SEL_1";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>
        , <&bt BT_SEL 1>
        ;
    };
  };

  keymap0: keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp F1       &kp F2       &kp F3       &kp F4       &kp F5
        &kp 1        &kp 2        &kp 3        &kp 4        &kp 5
        &kp Q        &kp W        &kp E        &kp R        &kp T
        &mkp LCLK    &mkp MCLK    &mkp RCLK    &out OUT_BLE &mo 1
      >;
    };

    fn1_layer {
      bindings = <
        &kp F6       &kp F7       &kp F8       &kp F9       &kp F10
        &kp 6        &kp 7        &kp 8        &kp 9        &kp 0
        &kp Y        &kp U        &kp I        &kp O        &kp P
        &bt BT_CLR   &bt_sel_0    &bt_sel_1    &out OUT_USB &trans
      >;
    };
  };
};
